In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
from matplotlib import pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics import confusion_matrix,accuracy_score,classification_report

In [3]:
# Reading the data
df=pd.read_csv("/workspaces/codespaces-jupyter/spam.csv",encoding='latin')

In [4]:
df.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [5]:
df.tail()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
5567,spam,This is the 2nd time we have tried 2 contact u...,NaN,NaN,NaN
5568,ham,Will Ì_ b going to esplanade fr home?,NaN,NaN,NaN
5569,ham,"Pity, * was in mood for that. So...any other s...",NaN,NaN,NaN
5570,ham,The guy did some bitching but I acted like i'd...,NaN,NaN,NaN
5571,ham,Rofl. Its true to its name,NaN,NaN,NaN

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   v1          5572 non-null   object
 1   v2          5572 non-null   object
 2   Unnamed: 2  50 non-null     object
 3   Unnamed: 3  12 non-null     object
 4   Unnamed: 4  6 non-null      object
dtypes: object(5)
memory usage: 217.8+ KB

In [7]:
df.describe()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
count,5572,5572,50,12,6
unique,2,5169,43,10,5
top,ham,"Sorry, I'll call later","bt not his girlfrnd... G o o d n i g h t . . .@""","MK17 92H. 450Ppw 16""","GNT:-)"""
freq,4825,30,3,2,2

In [8]:
df.sample(10)

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
3566,spam,Collect your VALENTINE'S weekend to PARIS inc ...,NaN,NaN,NaN
2218,ham,Nice talking to you! please dont forget my pix...,NaN,NaN,NaN
3082,ham,K..k:)how about your training process?,NaN,NaN,NaN
5401,ham,Babes I think I got ur brolly I left it in Eng...,NaN,NaN,NaN
4539,ham,"Urgh, coach hot, smells of chip fat! Thanks ag...",NaN,NaN,NaN
3557,ham,No da. . Vijay going to talk in jaya tv,NaN,NaN,NaN
2523,ham,"Sorry, I'll call later",NaN,NaN,NaN
4280,ham,"Wn u r hurt by d prsn who s close 2 u, do figh...",NaN,NaN,NaN
4954,ham,Doing my masters. When will you buy a bb cos i...,NaN,NaN,NaN
1990,ham,HI DARLIN IVE JUST GOT BACK AND I HAD A REALLY...,NaN,NaN,NaN

In [9]:
df.shape

(5572, 5)

In [10]:
print("Rows--->",df.shape[0])
print("Columns--->",df.shape[1])

Rows---> 5572
Columns---> 5

In [11]:
df.isnull()

         v1     v2  Unnamed: 2  Unnamed: 3  Unnamed: 4
0     False  False        True        True        True
1     False  False        True        True        True
2     False  False        True        True        True
3     False  False        True        True        True
4     False  False        True        True        True
...     ...    ...         ...         ...         ...
5567  False  False        True        True        True
5568  False  False        True        True        True
5569  False  False        True        True        True
5570  False  False        True        True        True
5571  False  False        True        True        True

[5572 rows x 5 columns]

In [12]:
df.isnull().sum()

v1               0
v2               0
Unnamed: 2    5522
Unnamed: 3    5560
Unnamed: 4    5566
dtype: int64

In [13]:
df.columns

Index(['v1', 'v2', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'], dtype='object')

In [14]:
df.isna().mean()

v1            0.000000
v2            0.000000
Unnamed: 2    0.991027
Unnamed: 3    0.997846
Unnamed: 4    0.998923
dtype: float64

In [15]:
df.drop(columns=['Unnamed: 2','Unnamed: 3','Unnamed: 4'],axis=0,inplace=True)

In [16]:
df

        v1                                                 v2
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...
...    ...                                                ...
5567  spam  This is the 2nd time we have tried 2 contact u...
5568   ham              Will Ì_ b going to esplanade fr home?
5569   ham  Pity, * was in mood for that. So...any other s...
5570   ham  The guy did some bitching but I acted like i'd...
5571   ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [17]:
df.shape

(5572, 2)

In [18]:
df.columns=['spam/ham','SMS']

In [19]:
df.loc[df['spam/ham'] == 'spam', 'spam/ham',] = 0
df.loc[df['spam/ham'] == 'ham', 'spam/ham',] = 1

In [20]:
df

     spam/ham                                                SMS
0           1  Go until jurong point, crazy.. Available only ...
1           1                      Ok lar... Joking wif u oni...
2           0  Free entry in 2 a wkly comp to win FA Cup fina...
3           1  U dun say so early hor... U c already then say...
4           1  Nah I don't think he goes to usf, he lives aro...
...       ...                                                ...
5567        0  This is the 2nd time we have tried 2 contact u...
5568        1              Will Ì_ b going to esplanade fr home?
5569        1  Pity, * was in mood for that. So...any other s...
5570        1  The guy did some bitching but I acted like i'd...
5571        1                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [21]:
x=df.SMS
x

0       Go until jurong point, crazy.. Available only ...
1                           Ok lar... Joking wif u oni...
2       Free entry in 2 a wkly comp to win FA Cup fina...
3       U dun say so early hor... U c already then say...
4       Nah I don't think he goes to usf, he lives aro...
                              ...
5567    This is the 2nd time we have tried 2 contact u...
5568                Will Ì_ b going to esplanade fr home?
5569    Pity, * was in mood for that. So...any other s...
5570    The guy did some bitching but I acted like i'd...
5571                           Rofl. Its true to its name
Name: SMS, Length: 5572, dtype: object

In [22]:
y=df['spam/ham']
y

0       1
1       1
2       0
3       1
4       1
       ..
5567    0
5568    1
5569    1
5570    1
5571    1
Name: spam/ham, Length: 5572, dtype: object

In [23]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=2)

In [24]:
print(x.shape)

(5572,)

In [25]:
print(x_train.shape)

(4457,)

In [26]:
print(x_test.shape)

(1115,)

In [27]:
print(y_train.shape)

(4457,)

In [28]:
print(y_test.shape)

(1115,)

In [29]:
x_train,x_test

(3890    No problem. We will be spending a lot of quali...
 5553                          Hahaha..use your brain dear
 4366    I like dis sweater fr mango but no more my siz...
 3968    Thanks for your message. I really appreciate y...
 3771                Does uncle timi help in clearing cars
                               ...
 3335                         Then u go back urself lor...
 1099    Been up to ne thing interesting. Did you have ...
 2514        Ok ill send you with in  &lt;DECIMAL&gt;  ok.
 3606                         I have no idea where you are
 2575                 Now thats going to ruin your thesis!
 Name: SMS, Length: 4457, dtype: object,
 5086    Omg if its not one thing its another. My cat h...
 2120    Argh my 3g is spotty, anyway the only thing I ...
 2318                            On the way to office da..
 2917                        Thanks chikku..:-) gud nyt:-*
 1352    Let Ur Heart Be Ur Compass Ur Mind Ur Map Ur S...
                               ...
 884     Yoyyooo u know how to change permissions for a...
 3821                             Just normal only here :)
 1066         Once free call me sir. I am waiting for you.
 208     You please give us connection today itself bef...
 1378                            Ya tel, wats ur problem..
 Name: SMS, Length: 1115, dtype: object)

In [30]:
y_train,y_test

(3890    1
 5553    1
 4366    1
 3968    1
 3771    1
        ..
 3335    1
 1099    1
 2514    1
 3606    1
 2575    1
 Name: spam/ham, Length: 4457, dtype: object,
 5086    1
 2120    1
 2318    1
 2917    1
 1352    1
        ..
 884     1
 3821    1
 1066    1
 208     1
 1378    1
 Name: spam/ham, Length: 1115, dtype: object)

In [31]:
from sklearn.feature_extraction.text import TfidfVectorizer
feat_vect=TfidfVectorizer(stop_words='english',lowercase=True)
feat_vect

TfidfVectorizer(stop_words='english')

In [32]:
y_train=y_train.astype('int')
y_test=y_test.astype('int')

In [33]:
x_train_vec =feat_vect.fit_transform(x_train)

In [34]:
x_test_vec =feat_vect.transform(x_test)
print(x_train)

3890    No problem. We will be spending a lot of quali...
5553                          Hahaha..use your brain dear
4366    I like dis sweater fr mango but no more my siz...
3968    Thanks for your message. I really appreciate y...
3771                Does uncle timi help in clearing cars
                              ...
3335                         Then u go back urself lor...
1099    Been up to ne thing interesting. Did you have ...
2514        Ok ill send you with in  &lt;DECIMAL&gt;  ok.
3606                         I have no idea where you are
2575                 Now thats going to ruin your thesis!
Name: SMS, Length: 4457, dtype: object

In [35]:
x_train_vec
print("x_train--->",x_train_vec)
print("x_test---->",x_test_vec)

x_train--->   (0, 6566)	0.29071829686789585
  (0, 5260)	0.5087678982336444
  (0, 4010)	0.4050685955975014
  (0, 6073)	0.5665799184805557
  (0, 5169)	0.4141795823412651
  (1, 2116)	0.3523355719340784
  (1, 1423)	0.5940444343697558
  (1, 6859)	0.4124100686677272
  (1, 3141)	0.5940444343697558
  (2, 3565)	0.40508027557608417
  (2, 5897)	0.440107047813195
  (2, 4140)	0.440107047813195
  (2, 2845)	0.3382880530026162
  (2, 6332)	0.440107047813195
  (2, 2258)	0.3104925886287087
  (2, 3910)	0.20972094634778068
  (3, 2105)	0.17893490557083572
  (3, 7191)	0.2812743655569581
  (3, 1763)	0.2431679156261037
  (3, 6620)	0.2114722422733664
  (3, 6461)	0.2757210982911898
  (3, 7045)	0.20776132213481782
  (3, 4865)	0.26062868324883703
  (3, 2251)	0.2952674814882996
  (3, 5175)	0.3101007821209402
  :	:
  (4451, 4355)	0.5653315538937795
  (4452, 6856)	0.8442476281269602
  (4452, 4003)	0.5359533024452802
  (4453, 7234)	0.3927126429320925
  (4453, 4634)	0.3513960490954625
  (4453, 4498)	0.36145784624804855
  (4453, 3531)	0.343174962220219
  (4453, 6804)	0.343174962220219
  (4453, 2219)	0.22106589098767157
  (4453, 6140)	0.2989482528799608
  (4453, 1308)	0.28066536885213117
  (4453, 6604)	0.20345602154604067
  (4453, 3041)	0.18713644220806608
  (4453, 6514)	0.250359894393495
  (4454, 3438)	0.41832618559604146
  (4454, 4681)	0.5748166128556557
  (4454, 5726)	0.31680901774368153
  (4454, 2126)	0.46344991793045925
  (4454, 3108)	0.2995290335479616
  (4454, 4045)	0.2995290335479616
  (4455, 3416)	1.0
  (4456, 6508)	0.6008815846567301
  (4456, 5576)	0.6008815846567301
  (4456, 6492)	0.4171566994855619
  (4456, 3032)	0.3222777226479457
x_test---->   (0, 6514)	0.32916662990172807
  (0, 4698)	0.4620063190302294
  (0, 2485)	0.3557824864541254
  (0, 2300)	0.36426616984882515
  (0, 2105)	0.25507748700491606
  (0, 1627)	0.4752353063146944
  (0, 1153)	0.35779232807132594
  (1, 6514)	0.2538071933796766
  (1, 5461)	0.3795854222400133
  (1, 5420)	0.28452995524622654
  (1, 5169)	0.27748341675755483
  (1, 4974)	0.36643489446871863
  (1, 3994)	0.3562345526694059
  (1, 2856)	0.19166908649350406
  (1, 2219)	0.2241098298890172
  (1, 1010)	0.3981200501333143
  (1, 446)	0.3562345526694059
  (2, 7045)	0.545123558876406
  (2, 4665)	0.6548438540730855
  (2, 2069)	0.5234690366589309
  (3, 6483)	0.41989427581549055
  (3, 4637)	0.5752520807193355
  (3, 3113)	0.44855177661259954
  (3, 1717)	0.5399769851235704
  (4, 7209)	0.19560995892120994
  :	:
  (1109, 2002)	0.28348303017817333
  (1109, 1865)	0.29637123808289095
  (1109, 1468)	0.3153928537769968
  (1109, 1397)	0.27996157444650627
  (1109, 390)	0.3153928537769968
  (1110, 4086)	0.4470646150528683
  (1110, 3768)	0.21276833237751058
  (1110, 2759)	0.4262513546267932
  (1110, 2365)	0.680646207856454
  (1110, 1665)	0.33150171811677925
  (1111, 4592)	0.8899117135942789
  (1111, 3687)	0.4561328118078046
  (1112, 6992)	0.6189682713541819
  (1112, 5884)	0.6393374713313827
  (1112, 2856)	0.4562081507474514
  (1113, 6604)	0.35804561822468883
  (1113, 4045)	0.3260701927498015
  (1113, 3108)	0.3260701927498015
  (1113, 2126)	0.5045160473409236
  (1113, 1901)	0.6361001116536655
  (1114, 7272)	0.4113200538760845
  (1114, 7041)	0.561018946128354
  (1114, 6844)	0.27768525468698896
  (1114, 6430)	0.4979939956517465
  (1114, 5169)	0.4369970651945347

In [36]:
model=LogisticRegression()
model.fit(x_train_vec,y_train)

LogisticRegression()

In [37]:
model.score(x_train_vec,y_train)

0.971729863136639

In [38]:
model.score(x_test_vec,y_test)

0.9560538116591928

In [39]:
predict_model=model.predict(x_test_vec)
predict_model

array([1, 1, 1, ..., 1, 1, 1])

In [40]:
accuracy_score(y_test,predict_model)

0.9560538116591928

In [41]:
confusion_matrix(y_test,predict_model)

array([[109,  49],
       [  0, 957]])

In [42]:
print(classification_report(y_test,predict_model))

              precision    recall  f1-score   support

           0       1.00      0.69      0.82       158
           1       0.95      1.00      0.98       957

    accuracy                           0.96      1115
   macro avg       0.98      0.84      0.90      1115
weighted avg       0.96      0.96      0.95      1115